<app-menu></app-menu>
<p-toast></p-toast>
<div class="container p-mt-4">
  <div class="p-shadow-2 p-mx-0 p-px-0">
    <p-toolbar>
      <ng-template pTemplate="left">
        <button pButton pRipple label="Agregar" (click)="showModal()" icon="pi pi-plus"
                class="p-button-success p-mr-2"></button>
      </ng-template>
    </p-toolbar>
    <p-table #dt1 [value]="risks" [lazy]="true" (onLazyLoad)="onLazyLoadData($event)" [paginator]="true" [rows]="5"
             [responsive]="true" [totalRecords]="totalRecords" [loading]="loading"
             row
             styleClass="p-datatable-gridlines p-datatable-striped">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h4 class="p-m-0">RIESGOS POR REGISTRAR</h4>
          <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #box (keyup.enter)="onEnter(box.value)" placeholder="Buscar..."/>
                    </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="p-text-center">Id</th>
          <th class="p-text-center">Código</th>
          <th class="p-text-center">Notificación</th>
          <th class="p-text-center">Estado</th>
          <th class="p-text-center">Contacto</th>
          <th class="p-text-center">País</th>
          <th class="p-text-center">Tipo</th>
          <th class="p-text-center">Opciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-risk let-rowIndex="rowIndex">
        <tr>
          <td class="p-text-center">{{risk.id}}</td>
          <td class="p-text-center">
            <button pButton
                    [label]="risk.code ? risk.code : 'Sin defenir'"
                    class="p-px-1 p-py-1"
                    [pStyleClass]="'p-button-danger'"
                    [ngClass]="risk.code ? 'p-button-success':'p-button-danger'"
            ></button>
          </td>
          <td class="p-text-center">{{risk.dateNotification | date: 'short'}}</td>
          <td class="p-text-center">{{risk.status.value}}</td>
          <td class="p-text-center">{{risk.username? risk.username : '--'}}</td>
          <td class="p-text-center">{{risk.country ? risk.country.value : '--'}}</td>
          <td class="p-text-center">{{risk.typeRisk ? risk.typeRisk.value : '--'}}</td>
          <td class="p-text-center">

            <button
              pButton
              pRipple
              type="button"
              title="Registrar"
              icon="pi pi-check"
              class="p-button-secondary p-button-sm p-mr-2"
              (click)="showModalProcess(rowIndex)"
            ></button>

            <button pButton pRipple type="button"
                    title="Ver riesgo a detalle" icon="pi pi-eye"
                    class="p-button-success p-button-sm p-mr-2"
                    [routerLink]="['/risks/detail/', risk.id]"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              title="Ver historial"
              icon="pi pi-list"
              class="p-button-primary p-button-sm"
              (click)="onSelectRisk(rowIndex)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <h6 class="p-m-0">Total de registros: {{totalRecords}}</h6>
      </ng-template>
    </p-table>
  </div>

</div>

<p-dialog
  [header]="titleModal"
  [(visible)]="display"
  [modal]="true"
  [draggable]="false"
  [style]="{width: '50vw'}"
  [baseZIndex]="10000" styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <p-table [value]="riskSelected.historicals" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Inicio</th>
          <th>Fin</th>
          <th>Estado</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-h let-rowIndex="rowIndex">
        <tr>
          <td>{{rowIndex + 1}}</td>
          <td>{{h.dateStart | date: 'short'}}</td>
          <td>{{h.dateEnd | date: 'short'}}</td>
          <td>{{h.status}}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>


  <ng-template pTemplate="footer">

  </ng-template>
</p-dialog>


<p-dialog
  header="Registrar riesgo"
  [(visible)]="display2"
  [modal]="true"
  [draggable]="false"
  [style]="{width: '35vw', height: '80%'}"
  [baseZIndex]="10000" styleClass="p-fluid"

>
  <ng-template pTemplate="content">
    <div class="p-grid p-field">
      <div class="p-col-12">
        <label for="tech-origen">Origen: </label>
        <p-dropdown
          id="tech-origen"
          inputId="tech-origen"
          [options]="origins"
          [(ngModel)]="originSelected"
          optionLabel="value"
          selectId="id"
          optionValue="id"
          [showClear]="true"
          placeholder="Seleccionar el origen del riesgo"
          class="p-mt-4"
        ></p-dropdown>
      </div>
    </div>

    <div class="p-grid p-field">
      <div class="p-col-12">
        <label for="tech-level">Nivel: </label>
        <p-dropdown
          id="tech-level"
          inputId="tech-level"
          [options]="levels"
          [(ngModel)]="levelSelected"
          optionLabel="value"
          selectId="id"
          optionValue="id"
          [showClear]="true"
          placeholder="Seleccionar el nivel del riesgo"
        ></p-dropdown>
      </div>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      label="Procesar"
      styleClass="p-button-text"
      (click)="onSave()"
    ></p-button>
  </ng-template>

</p-dialog>


<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" acceptButtonStyleClass="p-button-danger">
</p-confirmDialog>

